<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>

</head>
<body>
<h1>WELCOME TO THE MARS ROVER CHALLENGE!</h1>
    <h2>Here is a picture of a typical mars rover to brighten your day!</h2>
    <img src='../static/rover.jpg' alt="" width="500" height="333">

    <p></p>
    <p></p>
    <p></p>
    <h2>You have the following options to proceed</h2>
    <ul style="list-style-type:none;">
        <p><b>/run.html</b> - runs the data from mars.txt</p>
        <p><b>/(enter_coords_here)</b> - dynamically enter your new rover coordinate to update the location. Eg: http://localhost:5000/13N23N would change the coordinates of rover from 1 3 N to 2 3 N. (Please use POST function through Postman or other API softwares to run it)</p>
        <p><b>/update.html</b> - shows the final updated rover positions after entering new coordinates</p>
    </ul>

</body>
</html>